html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: rgb(199, 213, 235);
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.middle {
    display: table-cell;
    vertical-align: middle;
}
  
.inner {
    margin-left: auto;
    margin-right: auto;
}

.bg-container {
    background-image: url(../background/MoltenDragon.png);
    background-size: contain;
    height: 904px;
    width: 1600px;
    border: 5px solid black;
    box-sizing: border-box;
    margin: auto;
}

.grid-1 {
    display: flex;
}

section div {
    background: transparent;
}

/* door styles */
.grid-1 input {
    display: none;
}

.label-circle {
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;

    display: flex;
    min-height: 100%;
    width: 100%;
	/*border-radius: 50% unnecessary*/
}

.door-circle {
    width: 100%;
    transform-style: preserve-3d;
    transition: all 700ms;
    border: 2px dashed transparent;
    /*border-radius:50% border of the outer edge*/
}

.door-circle div {
    position: absolute;
    height: 100%;
    width: 100%;
  /*border-radius: 50% this rounds the image*/
    backface-visibility: hidden;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.door-circle .back {
    transform: rotateY(180deg);/*important?*/
}

label:hover .door-circle {
    border-color: red;
    transform: rotateY(180deg); /*important?*/
}
   
:checked + .door-circle {
    transform: rotateY(180deg);
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* individual items */

.day-1 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 200px;
	
}

.day-1 .back {
    background: url(../doors/cdoor01.gif);
    background-size: cover;
    background-position: center;
}


.day-2 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 125px;
    margin-top: 708px;
}

.day-2 .back {
    background: url(../doors/Door02.jpg);
    background-size: cover;
    background-position: center;
}

.day-3 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 232px;
    margin-top: 574px;
}

.day-3 .back {
    background: url(../doors/Door03.jpg);
    background-size: cover;
    background-position: center;
}


.day-4 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 588px;
    margin-top: 474px;
}

.day-4 .back {
    background: url(../doors/Door04.jpg);
    background-size: cover;
    background-position: center;
}

.day-5 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 870px;
    margin-top: 501px;
}

.day-5 .back {
    background: url(../doors/Door05.jpg);
    background-size: cover;
    background-position: center;
}

.day-6 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 938px;
    margin-top: 611px;
}

.day-6 .back {
    background: url(../doors/Door06.jpg);
    background-size: cover;
    background-position: center;
}

.day-7 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 728px;
    margin-top: 655px;
}

.day-7 .back {
    background: url(../doors/Door07.jpg);
    background-size: cover;
    background-position: center;
}

.day-8 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 536px;
    margin-top: 720px;
}

.day-8 .back {
    background: url(../doors/Door08.jpg);
    background-size: 150%;
    background-position: center;
}

.day-9 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 734px;
    margin-top: 779px;
}

.day-9 .back {
    background: url(../doors/Door09.jpg);
    background-size: cover;
    background-position: center;
}

.day-10 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 954px;
    margin-top: 756px;
}

.day-10 .back {
    background: url(../doors/Door10.jpg);
    background-size: cover;
    background-position: center;
}

.day-11 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1091px;
    margin-top: 603px;
}

.day-11 .back {
    background: url(../doors/Door11.jpg);
    background-size: cover;
    background-position: center;
}

.day-12 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1085px;
    margin-top: 819px;
}

.day-12 .back {
    background: url(../doors/Door12.jpg);
    background-size: 160%;
    background-position: center;
}

.day-13 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1308px;
    margin-top: 812px;
}

.day-13 .back {
    background: url(../doors/Door13.jpg);
    background-size: 180%;
    background-position: left;
}

.day-14 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1343px;
    margin-top: 634px;
}

.day-14 .back {
    background: url(../doors/Door14.jpg);
    background-size: cover;
    background-position: center;
}

.day-15 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1483px;
    margin-top: 671px;
}

.day-15 .back {
    background: url(../doors/Door15.jpg);
    background-size: 200%;
    background-position: center;
}

.day-16 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1463px;
    margin-top: 548px;
}

.day-16 .back {
    background: url(../doors/Door16.jpg);
    background-size: cover;
    background-position: center top;
}

.day-17 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1321px;
    margin-top: 402px;
}

.day-17 .back {
    background: url(../doors/Door17.jpg);
    background-size: cover;
    background-position: center top;
}

.day-18 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1483px;
    margin-top: 315px;
}

.day-18 .back {
    background: url(../doors/Door18.jpg);
    background-size: cover;
    background-position: center top;
}

.day-19 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1428px;
    margin-top: 176px;
}

.day-19 .back {
    background: url(../doors/Door19.jpg);
    background-size: cover;
    background-position: center top;
}

.day-20 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1330px;
    margin-top: 33px;
}

.day-20 .back {
    background: url(../doors/Door20.jpg);
    background-size: cover;
    background-position: center center;
}

.day-21 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1072px;
    margin-top: 146px;
}

.day-21 .back {
    background: url(../doors/Door21.jpg);
    background-size: cover;
    background-position: right top;
}
 
.day-22 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 1024px;
    margin-top: 363px;
}

.day-22 .back {
    background: url(../doors/Door22.jpg);
    background-size: cover;
    background-position: right top;
}

.day-23 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 917px;
    margin-top: 319px;
}

.day-23 .back {
    background: url(../doors/Door23.jpg);
    background-size: cover;
    background-position: center top;
}

.day-24 {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 618px;
    margin-top: 222px;
}

.day-24 .back {
    background: url(../doors/Door24.jpg);
    background-size: cover;
    background-position: center top;
}

.void-door {
    position: absolute;
    width: 72px;
    height: 500px;
    border-radius: 50%;
    margin-left: 530px;
    margin-top: 06px;
}

.void-door .back {
    background: url(../doors/Door03.jpg);
    background-size: cover;
    background-position: center;
}